.btn {
    padding: 6px ;
    border-radius: 2rem;
    /* color: #fff; */
    cursor: pointer;
    min-height: 50px;
    min-width: 100px;
}

/* .btn:hover{
    background-color: #218518;
    border-color: #218518;
} */

.addOrRemoveIcon:hover{
    border-color: white;
    background-color: white;
    color: black;
}

.addOrRemoveIcon{
    border-radius: 1rem;
    border: 2px solid white;
}



